// global
@import "global/_container";
@import "global/_fonts";
@import "global/_mixins";
@import "global/_normalize";
@import "global/_reboot";
@import "global/_variables";
@import "global/_visually-hidden";

// blocks
@import "blocks/_btn";
@import "blocks/_card";
@import "blocks/_header";
@import "blocks/_nav";
@import "blocks/_burger";
@import "blocks/_hero";
@import "blocks/_facts";
@import "blocks/_facts-card";
@import "blocks/_comparison";
@import "blocks/_checkmark";
@import "blocks/_step-card";
@import "blocks/_advantages";
@import "blocks/_advantage-card";
@import "blocks/_content";
@import "blocks/_faq";
@import "blocks/_big-cta";
@import "blocks/_footer";
