$color-white: #ffffff;
$color-black: #000000;

$color-dandelion: #ffd065;
$color-black-russian: #070b18;
$color-wood-bark: #25150d;
$color-wood-bark-accent: #231810;
$color-cocoa-brown: #2e1f14;
$color-zorba: #a79d94;
$color-soapstone: #f0e6d6;
$color-stark-white: #d4c9b8;
$color-rope: #8b5a3c;
$color-muesli: #a67c52;
$color-varden: #fdefd0;
$color-bracken: #563c27;
$color-leather: #8c6b4a;
$color-squirrel: #8c7d6a;

$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-25: rgba(0, 0, 0, 0.25);
$color-black-30: rgba(0, 0, 0, 0.3);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-cocoa-brown-30: rgba(46, 31, 20, 0.3);
$color-toledo-20: rgb(86, 60, 39, 0.2);
$color-toledo-40: rgb(86, 60, 39, 0.4);
$color-wood-bark-50: rgba(37, 21, 13, 0.5);
$color-black-russian-95: rgba(16, 11, 7, 0.95);
$color-soapstone-50: rgba(240, 230, 214, 0.5);
$color-soapstone-15: rgba(240, 230, 214, 0.15);


// viewport breakpoints
$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-small: 480px;
