$color-white: #ffffff;
$color-black: #000000;

$color-dandelion: #ffd065;
$color-black-russian: #070b18;
$color-zorba: #a79d94;

// $color-black-russian: #070b18;
// $color-black-pearl: #0a1a2f;
// $color-midnight: #1e293b;
// $color-solitude: #e5e7eb;
// $color-rock-blue: #94a3b8;
// $color-dodger-blue: #14a0ff;
// $color-hawkes-blue: #cbd5f5;
// $color-malachite: #22c55e;
// $color-emerald: #16a34a;
// $color-dark-green: #022c22;
// $color-slate: #64748b;
// $color-tomato: #fc6154;
// $color-sazerac: #f4dac0;

$color-royal-blue-18: rgba(37, 99, 235, 0.18);
$color-malachite-18: rgba(34, 197, 94, 0.18);
$color-malachite-45: rgba(34, 197, 94, 0.45);
$color-malachite-95: rgba(34, 197, 94, 0.95);
$color-white-30: rgba(255, 255, 255, 0.3);
$color-black-60: rgba(0, 0, 0, 0.6);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-10: rgba(0, 0, 0, 0.1);

// viewport breakpoints
$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-small: 480px;
