/* Advantages */
.advantages {
    background-color: #25150d;
    border-bottom: 1px solid #2e1f14;
    padding: 80px 0;

    @include vp-1023 {
        padding: 60px 0;
    }

    &__content {
        width: 100%;
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
        position: relative;
        font-weight: 700;
        font-size: 36px;
        color: #f0e6d6;
        line-height: 1.3;

        @include vp-1023 {
            font-size: 32px;
        }

        @include vp-480 {
            font-size: 28px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 4px;
            background-color: #563c27;
            border-radius: 2px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;

        @include vp-480 {
            grid-template-columns: 1fr;
        }
    }
}
