/* Big CTA - финальный призыв */
.big-cta {
    background-color: #100b07;
    color: #f0e6d6;
    text-align: center;
    padding: 80px 0;
    border-bottom: 1px solid #25150d;

    @include vp-1023 {
        padding: 60px 0;
    }

    &__content {
        width: 100%;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        color: #f0e6d6;
        margin-bottom: 20px;
        line-height: 1.3;

        @include vp-1023 {
            font-size: 32px;
        }

        @include vp-480 {
            font-size: 28px;
        }
    }

    &__description {
        max-width: 700px;
        margin: 0 auto 30px;
        font-size: 20px;
        color: #d4c9b8;

        @include vp-767 {
            font-size: 18px;
            max-width: 600px;
        }

        @include vp-480 {
            font-size: 16px;
            max-width: 90%;
            padding: 0 15px;
            margin-bottom: 25px;
        }
    }
}
