/* Big CTA - финальный призыв */
.big-cta {
    color: #f0e6d6;
    text-align: center;
    padding: 80px 0;

    background-color: #25150d;
    border-bottom: 1px solid #2e1f14;

    @include vp-1023 {
        padding: 60px 0;
    }

    &__content {
        width: 100%;
        max-width: 800px; /* ограничиваем ширину контента */
        margin: 0 auto;
        padding: 40px 30px; /* добавляем внутренние отступы */
        background-image: url("../images/bg-cta.webp");
        background-size: cover;

        background-position: center 15%;
        background-repeat: no-repeat;
        border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

        /* Retina / HiDPI */
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url("../images/bg-cta@2x.webp");
        }
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        color: $color-black;
        text-shadow:
            -1px -1px 0 #f0e6d6,
            1px -1px 0 #f0e6d6,
            -1px 1px 0 #f0e6d6,
            1px 1px 0 #f0e6d6;
        margin-bottom: 20px;
        line-height: 1.3;

        @include vp-1023 {
            font-size: 32px;
        }

        @include vp-480 {
            font-size: 28px;
        }
    }

    &__description {
        max-width: 700px;
        margin: 0 auto 30px;
        font-size: 16px;
        color: $color-black;
        text-shadow:
            -1px -1px 0 #f0e6d6,
            1px -1px 0 #f0e6d6,
            -1px 1px 0 #f0e6d6,
            1px 1px 0 #f0e6d6;

        @include vp-767 {
            font-size: 18px;
            max-width: 600px;
        }

        @include vp-480 {
            font-size: 16px;
            max-width: 90%;
            padding: 0 15px;
            margin-bottom: 25px;
        }
    }
}
