.btn {
    display: inline-block;
    padding: 14px 32px;

    color: $color-varden;
    text-shadow:
        -1px -1px 0 $color-black,
        1px -1px 0 $color-black,
        -1px 1px 0 $color-black,
        1px 1px 0 $color-black;
    border: none;
    border-radius: 8px;

    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(86, 60, 39, 0.3);
    }

    &--primary {
        background-image: url("../images/btn.webp");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 0;
        color: $color-soapstone;
        padding: 14px 32px;

        &:hover {
            box-shadow: 0 8px 20px $color-cocoa-brown-30;
            transform: translateY(-3px);
        }
    }

    &--large {
        padding: 18px 45px;
        font-size: 18px;

        @include vp-767 {
            padding: 16px 40px;
            font-size: 16px;
        }

        @include vp-480 {
            padding: 14px 32px;
            font-size: 14px;
        }
    }

    @include vp-480 {
        padding: 12px 25px;
    }
}
