/* Content Sections */
.content {
    background-color: #231810;
    border-bottom: 1px solid #25150d;
    padding: 80px 0;

    @include vp-1023 {
        padding: 60px 0;
    }

    &__content {
        width: 100%;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        color: #f0e6d6;
        margin-bottom: 15px;
        line-height: 1.3;

        @include vp-480 {
            font-size: 24px;
        }
    }

    &__text {
        margin-bottom: 15px;
        color: #d4c9b8;
        font-size: 16px;
        line-height: 1.6;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
