.fact-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        width: 70px;
        height: 70px;
        background-color: rgba(86, 60, 39, 0.2);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        color: #563c27;
        font-size: 32px;
        border: 1px solid #25150d;

        font-weight: 700;
    }

    &__number {
        font-weight: 700;
        font-size: 40px;
        color: #f0e6d6;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        color: #f0e6d6;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    &__description {
        margin-bottom: 0;
        color: #d4c9b8;
        font-size: 16px;
    }
}
