.fact-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-cocoa-brown;
    border: 1px solid $color-wood-bark;
    border-radius: 12px;
    padding: 30px 20px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    &__icon {
        width: 70px;
        height: 70px;
        background-color: $color-toledo-40;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        color: $color-varden;
        font-size: 32px;
        border: 1px solid $color-bracken;

        font-weight: 700;
    }

    &__number {
        font-weight: 700;
        font-size: 40px;
        color: $color-soapstone;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        color: $color-soapstone;
        margin: 0 0 10px 0;
        line-height: 1.3;
    }

    &__description {
        margin-bottom: 0;
        color: $color-soapstone;
        font-size: 16px;
        opacity: 0.9;
    }

    &__img {
        margin: 0 0 10px 0;
    }
}
