.fact-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        width: 70px;
        height: 70px;
        background-color: $color-toledo-20;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        color: $color-bracken;
        font-size: 32px;
        border: 1px solid $color-wood-bark;

        font-weight: 700;
    }

    &__number {
        font-weight: 700;
        font-size: 40px;
        color: $color-soapstone;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        color: $color-soapstone;
        margin: 0 0 10px 0;
        line-height: 1.3;
    }

    &__description {
        margin-bottom: 0;
        color: $color-stark-white;
        font-size: 16px;
    }
}
