.header {
    background-color: $color-black-russian-95;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 15px 0;
    box-shadow: 0 2px 10px $color-black-20;
    border-bottom: 1px solid $color-wood-bark;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

    &__logo-icon {
        color: $color-bracken;
        font-size: 28px;
    }

    &__logo-text {
        font-weight: 700;
        font-size: 24px;
        color: $color-soapstone;
    }
}
