.header {
    background-color: rgba(16, 11, 7, 0.95);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #25150d;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

    &__logo-icon {
        color: #563c27;
        font-size: 28px;
    }

    &__logo-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #f0e6d6;
    }
}
