.rewards {
    background-color: $color-wood-bark;
    border-bottom: 1px solid $color-cocoa-brown;
    padding: 80px 0;

    @include vp-1023 {
        padding: 60px 0;
    }

    &__content {
        width: 100%;
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 36px;
        color: $color-soapstone;
        line-height: 1.3;

        @include vp-1023 {
            font-size: 32px;
        }

        @include vp-480 {
            font-size: 28px;
        }
    }

    &__text {
        text-align: center;
        font-size: 18px;
        color: $color-stark-white;
        line-height: 1.6;
        margin-bottom: 40px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        @include vp-480 {
            font-size: 16px;
            padding: 0 15px;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        background-color: $color-cocoa-brown;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 5px 15px $color-black-25;
        border: 1px solid $color-cocoa-brown;
        margin-bottom: 40px;

        @include vp-767 {
            display: block;
            overflow-x: auto;
            border-radius: 8px;
            @include custom-scrollbar(
                $color-cocoa-brown,
                $color-rope,
                $color-muesli,
                8px
            );
        }
    }

    &__table-head {
        background-color: $color-cocoa-brown;
        color: $color-soapstone;
        padding: 20px;
        text-align: left;
        font-weight: 600;

        @include vp-480 {
            font-size: 12px;
            padding: 15px;
        }
    }

    &__table-data {
        padding: 20px;
        border-bottom: 1px solid $color-cocoa-brown;
        color: $color-stark-white;

        @include vp-480 {
            font-size: 12px;
            padding: 15px;
        }
    }

    &__table-row {
        &:last-child .rewards__table-data {
            border-bottom: none;
        }

        &:nth-child(even) {
            background-color: $color-cocoa-brown-30;
        }
    }
}
