.section-nav {
  margin-top: 40px;

  &__list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $color-soapstone;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: $color-bracken;
    }
  }

  @include vp-1023 {
    &__list {
      flex-direction: column;
      gap: 25px;
      width: 100%;
    }

    &__item {
      width: 100%;
      justify-content: center;
    }

    &__link {
      font-size: 18px;
      padding: 10px 0;
      display: block;
      text-align: center;
    }
  }
}
