.step-card {
    position: relative;
    text-align: center;

    &__number {
        width: 50px;
        height: 50px;
        background-color: $color-bracken;
        color: $color-soapstone;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 24px;
        margin: 0 auto 20px;
        border: 1px solid $color-bracken;
    }

    &__description {
        margin-bottom: 0;
        color: $color-stark-white;
        font-size: 16px;
        line-height: 1.5;
    }
}
