.step-card {
    position: relative;
    text-align: center;

    &__number {
        width: 50px;
        height: 50px;
        background-color: #563c27;
        color: #f0e6d6;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 24px;
        margin: 0 auto 20px;
        border: 1px solid #6a4a32;
    }

    &__description {
        margin-bottom: 0;
        color: #d4c9b8;
        font-size: 16px;
        line-height: 1.5;
    }
}
