.steps {
    background-color: #231810;
    border-bottom: 1px solid #25150d;
    padding: 80px 0;

    @include vp-1023 {
        padding: 60px 0;
    }

    &__content {
        width: 100%;
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
        position: relative;
        font-weight: 700;
        font-size: 36px;
        color: #f0e6d6;
        line-height: 1.3;

        @include vp-1023 {
            font-size: 32px;
        }

        @include vp-480 {
            font-size: 28px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 4px;
            background-color: #563c27;
            border-radius: 2px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;

        @include vp-480 {
            grid-template-columns: 1fr;
        }
    }

    .step-card {
        position: relative;
        text-align: center;

        &__number {
            width: 50px;
            height: 50px;
            background-color: #563c27;
            color: #f0e6d6;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 24px;
            margin: 0 auto 20px;
            border: 1px solid #6a4a32;
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            color: #f0e6d6;
            margin-bottom: 10px;
            line-height: 1.3;

            @include vp-480 {
                font-size: 20px;
            }
        }

        &__description {
            margin-bottom: 0;
            color: #d4c9b8;
            font-size: 16px;
            line-height: 1.5;
        }
    }
}
